version: 2.1

jobs:
  lint-web:
    docker:
      - image: cimg/node:24.12.0

    steps:
      - checkout
      - run:
          name: "Install dependencies"
          command: |
            set -e
            cd ./src/web
            pnpm install
      - run:
          name: "Run ESLint"
          command: |
            set -e
            cd ./src/web
            pnpm lint

  lint-backend:
    docker:
      - image: oven/bun:1.3.5

    steps:
      - checkout
      - run:
          name: "Install dependencies"
          command: |
            set -e
            cd ./src/backend
            bun install
      - run:
          name: "Run ESLint"
          command: |
            set -e
            cd ./src/backend
            bun run lint

  code-review:
    docker:
      - image: cimg/python:3.11

    steps:
      - checkout
      - run:
          name: Skip if not PR
          command: |
            if [ -z "$CIRCLE_PULL_REQUEST" ]; then
              echo "Not a PR, skipping AI review"
              circleci step halt
            fi
      - run:
          name: Verify required environment variables
          command: |
            if [ -z "$GITHUB_TOKEN" ] || \
               [ -z "$CLAUDE_MODEL" ] || \
               [ -z "$ANTHROPIC_API_KEY" ] || \
               [ -z "$CIRCLE_PULL_REQUEST" ] || \
               [ -z "$CIRCLE_PROJECT_USERNAME" ] || \
               [ -z "$CIRCLE_PROJECT_REPONAME" ]; then
              echo "Required environment variables not set"
              exit 1
            fi
      - run:
          name: Install dependencies
          command: |
            pip install -r scripts/requirements.txt
      
      - run:
          name: Run Claude Code Review
          command: |
            python scripts/code_reviewer.py


workflows:
  pr-review:
    jobs:
      - lint-web
      - lint-backend
      - code-review:
          requires:
            - lint-web
            - lint-backend
          filters:
            branches:
              ignore:
                - main